<section>
    <div class="container">

        <div class="row">
            <div class="header-center">Projects</div>
        </div>
        <% pageContent.forEach((content)=>{ %>
            <div class="row">
                <div class="col-lg-6 myprojects-img-padding">
                    <img class="material-shadow-4dp img-fluid myprojects-img-adj" src="<%=content.pageimg%>">
                </div>
                <!-- <div class="col-lg-1"></div> -->
                <div class="col-lg-6">
                    <div class="project-detail-container">
                        <div class="project-header">
                            <%=content.pageheader%>
                        </div>
                        <div class="project-subheader">
                            <%=content.pagedate%>
                        </div>
                        <div class="project-subheader">
                            <%=content.pagesubheader%>
                        </div>
                        <div class="project-desc">
                            <%=content.pagedesc%>
                        </div>
                        <div class="project-btn-container">
                            <button type="button" onclick="location.href='<%=content.eventpageurl%>'" class="btn project-btn">View Event Page</button>
                            <button type="button" onclick="location.href='<%=content.projectpageurl%>'" class="btn project-btn">View Project Page</button>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</section>